body{
    font-family: suisse-regular, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: suisse-bold;
    src: url(assets/SuisseIntl-Bold.otf);
}
@font-face {
    font-family: suisse-regular;
    src: url(assets/SuisseIntl-Regular.otf);
}
@font-face {
    font-family: canela-medium;
    src: url(assets/Canela-Medium.otf);
}
@font-face {
    font-family: canela-regular;
    src: url(assets/Canela-Regular.otf);
}
#student-section{
    column-count: 5;
    position: absolute;
    width: calc(100% - 280px);
    max-width: 2640px;
    transform: translate(-50%);
    margin: 20px 0 10px 50%;
    padding-left: 240px;
}
.student-profile{
    padding-bottom: 10px;
    break-inside: avoid;
}
#student-section img{
    width: calc(100% - 40px) !important;
    height: auto !important;
    margin: 20px 20px 0px 20px;
    border: solid 3px black;
    cursor: pointer;
}
.student-name{
    font-family: canela-regular, sans-serif;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 0px;
    font-weight: 800;
}

#show-info{
    height: calc(100% - 20px);
    position: fixed;
    width: 200px;
    margin: 40px 0px 20px 40px;
    font-family: canela-regular, sans-serif;
}
#show-info-title{
    margin: 0;
    font-family: canela-medium, sans-serif;
}
#show-info-description{
    font-size: 11px;
    line-height: 14px;
    text-align: justify;
}

#toast{
    position: fixed;
    right: -420px;
    top: 20px;
    height: 80px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #fafafa 0%, #f7f7f7 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 0%, #f7f7f7 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 0%, #f7f7f7 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 8px;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: solid 3px black;
    padding-right: 100px;
}

#toast-profile-image{
    height: 54px;
    width: 54px;
    border-radius: 100%;
    position: relative;
    margin: 9px;
    border: solid 3px black;
    object-fit: cover;
}
#toast-text{
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin: 14px 10px 0 0;
}
#toast-text h3{
    font-size: 16px;
    line-height: 0px;
    font-family: suisse-bold, sans-serif;
}
#toast-text p{
    font-size: 13px;
    line-height: 14px;
}
#toast-drop-image{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    object-fit: contain;
    vertical-align: top;
    margin: 10px 13px 0 0;
}
#toast-buttons{
    display: inline-block;
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    border-left: solid 3px black;
    height: 100%;
    vertical-align: top;
    font-weight: 800;
    font-family: suisse-bold, sans-serif;
    color: #3A3D3C;
    font-size: 15px;
    cursor: pointer;
}
.toast-button{
    line-height: 40px;
    width:80px;
    padding: 0 10px;
    margin: 0;
    text-align: center;
}
#toast-decline{
    border-bottom: solid 3px black;
}
.transition {
    -webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition:         all 500ms cubic-bezier(0.86, 0, 0.07, 1);
}

@media screen and (max-width: 1600px){
    #student-section{
        column-count: 4;
    }
    .student-name{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1300px){
    #student-section{
        column-count: 3;
    }
    .student-name{
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 900px){
    #student-section{
        column-count: 2;
    }

}
@media screen and (max-width: 600px){
    #student-section{
        column-count: 1;
        width: calc(100% - 40px);
        padding-left: 0px;
    }
    #show-info{
        display: none;
    }
}